name: Go CI

on:
    push:
        branches: [main]
    pull_request:
        branches: ["*"]

jobs:
    build-and-test:
        defaults:
            run:
                shell: bash
        strategy:
            matrix:
                include:
                    - go-version: "1.25.6"
                      os: linux
                      arch: amd64
                      runs-on: ubuntu-latest
                    - go-version: "1.25.6"
                      os: linux
                      arch: arm64
                      runs-on: ubuntu-24.04-arm
                    - go-version: "1.25.6"
                      os: windows
                      arch: amd64
                      runs-on: windows-latest
                    - go-version: "1.25.6"
                      os: darwin
                      arch: arm64
                      runs-on: macos-latest
        runs-on: ${{ matrix.runs-on }}
        steps:
            - uses: actions/checkout@v5

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: ${{ matrix.go-version }}

            - name: Set GOCACHE and GOMODCACHE env
              run: |
                  echo "GOCACHE=$(go env GOCACHE)" >> $GITHUB_ENV
                  echo "GOMODCACHE=$(go env GOMODCACHE)" >> $GITHUB_ENV

            - name: Restore Go caches
              uses: actions/cache@v4
              with:
                  path: |
                      ${{ env.GOCACHE }}
                      ${{ env.GOMODCACHE }}
                  key: ${{ matrix.os }}/${{ matrix.arch }}-go-${{ hashFiles('**/go.sum') }}-${{ matrix.go-version }}
                  restore-keys: |
                      ${{ matrix.os }}/${{ matrix.arch }}-go-${{ hashFiles('**/go.sum') }}-

            - name: Tidy modules
              run: |
                  go mod tidy
                  go mod verify

            - name: Get fyne dependencies
              if: ${{ matrix.os == 'linux' }}
              run: |
                  sudo apt update
                  sudo apt-get install gcc libgl1-mesa-dev xorg-dev libxkbcommon-dev

            - name: golangci-lint
              if: ${{ matrix.os == 'linux' }}
              uses: golangci/golangci-lint-action@v8
              with:
                  version: latest
                  install-mode: binary

            - name: Fmt
              run: go fmt ./...

            - name: Vet
              run: go vet ./...

            - name: Build
              run: go build -v ./...

            - uses: dominikh/staticcheck-action@v1.4.0
              if: ${{ matrix.os == 'linux' }}
              with:
                  version: "latest"

            - name: govulncheck
              if: ${{ matrix.os == 'linux' }}
              uses: golang/govulncheck-action@v1
              with:
                  go-version-input: ${{ matrix.go-version }}
                  go-package: ./...
