name: Go CI

on:
    push:
        branches: [main]
    pull_request:
        branches: ["*"]

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version: "1.25.5"
            
            - name: Set GOCACHE and GOMODCACHE env
              run: |
                  echo "GOCACHE=$(go env GOCACHE)" >> $GITHUB_ENV
                  echo "GOMODCACHE=$(go env GOMODCACHE)" >> $GITHUB_ENV
            - name: Restore Go caches
              uses: actions/cache@v4
              with:
                  path: |
                      ${{ env.GOCACHE }}
                      ${{ env.GOMODCACHE }}
                  key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-${{ matrix.go-version }}
                  restore-keys: |
                      ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-

            - name: Tidy modules
              run: |
                  go mod tidy
                  go mod verify

            - name: Get fyne dependencies
              run: |
                  sudo apt update
                  sudo apt-get install gcc libgl1-mesa-dev xorg-dev libxkbcommon-dev

            - name: golangci-lint
              uses: golangci/golangci-lint-action@v8
              with:
                  version: latest
                  install-mode: binary

            - name: Fmt
              run: go fmt ./...

            - name: Vet
              run: go vet ./...

            - name: Build
              run: go build -v ./...

            - uses: dominikh/staticcheck-action@v1.4.0
              with:
                  version: "latest"
            # - name: Staticcheck
            #   run: staticcheck ./...

            # - name: GolangCI-Lint
            #   run: golangci-lint run

            - name: govulncheck
              uses: golang/govulncheck-action@v1
              with:
                  go-version-input: 1.25.5
                  go-package: ./...

            # - name: Govulncheck
            #   run: govulncheck ./...
