name: Build and release Go binaries

on:
    push:
        branches:
            - "*"
        tags:
            - "v*"

permissions:
    contents: write

jobs:
    build:
        defaults:
            run:
                shell: bash
        strategy:
            matrix:
                include:
                    - go-version: "1.25.1"
                      os: linux
                      runs-on: ubuntu-latest
                    - go-version: "1.25.1"
                      os: windows
                      runs-on: windows-latest
                    - go-version: "1.25.1"
                      os: darwin
                      runs-on: macos-latest
        runs-on: ${{ matrix.runs-on }}
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-go@v6
              with:
                  go-version: ${{ matrix.go-version }}
                  cache: true
            - run: mkdir -p out
            - run: |
                  set -e
                  if [[ "${{ matrix.os }}" == "linux" ]]; then
                    sudo apt-get install gcc libgl1-mesa-dev xorg-dev libxkbcommon-dev
                  fi
            - run: |
                  set -e
                  go install fyne.io/tools/cmd/fyne@latest
                  "$(go env GOPATH)/bin/fyne" package -os ${{ matrix.os }}
              shell: bash
            # - run: |
            #       mkdir -p out
            #       shopt -s nullglob || true
            #       for f in *myapp*; do
            #         mv "$f" out/ || true
            #       done
            #   shell: bash
            - run: |
                  set -e
                  echo "${{ matrix.os }}"
                  ls -lR
                  if [[ "${{ matrix.os }}" == "windows" ]]; then
                    mv  lylink-jellyfin.exe out/lylink-jellyfin-windows.exe
                  fi
                  if [[ "${{ matrix.os }}" == "linux" ]]; then
                    # tar -czf out/myapp-${{ matrix.os }}.tar.gz -C out .
                    mv lylink-jellyfin.tar.xz out/lylink-jellyfin-${{ matrix.os }}.tar.xz
                  fi
                  if [[ "${{ matrix.os }}" == "darwin" ]]; then
                    mkdir -p out
                    zip -r out/lylink-jellyfin-darwin.zip lylink-jellyfin.app
                  fi
              shell: bash
            # - uses: softprops/action-gh-release@v2
            #   with:
            #       files: out/*
            #   env:
            #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
