name: Build and release Go binaries

on:
    push:
        tags:
            - "v*"

permissions:
    contents: write

jobs:
    build:
        strategy:
            matrix:
                include:
                    - go-version: "1.25.1"
                      os: linux
                      runs-on: ubuntu-latest
                    # - go-version: "1.25.1"
                    #   os: windows
                    #   runs-on: windows-latest
                    # - go-version: "1.25.1"
                    #   os: darwin
                    #   runs-on: macos-latest
        runs-on: ${{ matrix.runs-on }}
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-go@v6
              with:
                  go-version: ${{ matrix.go-version }}
            - run: mkdir -p out
            - run: |
                if [[ "${{ matrix.os }}" == "linux" ]]; then
                  sudo apt-get install gcc libgl1-mesa-dev xorg-dev libxkbcommon-dev
                fi
            - run: |
                  go install fyne.io/tools/cmd/fyne@latest
                  "$(go env GOPATH)/bin/fyne" package -os ${{ matrix.os }}
              shell: bash
            - run: |
                  mkdir -p out
                  shopt -s nullglob || true
                  for f in *myapp*; do
                    mv "$f" out/ || true
                  done
              shell: bash
            - run: |
                  if [[ "${{ matrix.os }}" == "windows" ]]; then
                    cd out
                    for f in *; do
                      zip -j "${f%.*}.zip" "$f" || true
                    done
                  else
                    tar -czf out/myapp-${{ matrix.os }}.tar.gz -C out .
                  fi
              shell: bash
            - uses: softprops/action-gh-release@v1
              with:
                  files: out/*
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
