name: Build and release Go binaries

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.25.1]
        os: [linux, windows, darwin]
        arch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - run: |
          mkdir -p out
          env GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -ldflags "-s -w" -o out/myapp-${{ matrix.os }}-${{ matrix.arch }} .
      - run: |
          if [[ "${{ matrix.os }}" == "windows" ]]; then
            zip -j out/myapp-${{ matrix.os }}-${{ matrix.arch }}.zip out/myapp-${{ matrix.os }}-${{ matrix.arch }}
          else
            tar -czf out/myapp-${{ matrix.os }}-${{ matrix.arch }}.tar.gz -C out myapp-${{ matrix.os }}-${{ matrix.arch }}
          fi
      - uses: softprops/action-gh-release@v1
        with:
          files: out/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
